doctype
html
  head
    title Index page
    link(rel='stylesheet', href='/css/main.css')
    // for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1')/
  body
    // header section
    nav.top-nav
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/') Header Section
    // body section
    div.container-fluid
      div.jumbotron Jumbotron
        div.sign-up Signup
      div.proposition Proposition
      div.benefits
        div.benefit Benefits 1
        div.benefit Benefits 2
        div.benefit Benefits 3
      div.topics
        div.topic Topics 1
        div.topic Topics 2
        div.topic Topics 3
      div.call-to-action Call To Action
        div.sign-up Signup
    // footer section
    div.footer Footer section
