doctype
html
  head
    title Index page
    link(rel='stylesheet', href='/css/main.css')
    // for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1')/
  body
    // header section
    nav.top-nav
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/') Header Section
    // body section
    div.container-fluid
      div.jumbotron 
        Include ../static/landing-page/jumbotron.md
      div.proposition 
        Include ../static/landing-page/proposition.md
      div.benefits
        for benefit in [1, 2, 3]
          div.benefit
            Include ../static/landing-page/benefits/benefit-#{benefit}.md
      div.topics
        for topic in [1, 2, 3]
          div.topic
            Include ../static/landing-page/topics/topic-#{topic}.md
      div.call-to-action 
        Include ../static/landing-page/call-to-action.md
    // footer section
    div.footer Footer section
